importFrom(terra, extract, crs)
importFrom(geodata, world)

export(
set_vocabulary,get_vocabulary,check_vocabulary,
accepted_variables, accepted_values,
check_variables, check_values,
check_date, check_datespan, check_span, 
check_lonlat, check_caps
)
